<footer>
    <p>© 2025 Perfume App — Founder Thtun.0709 </p>
  </footer>
  
  <script>
    window.addEventListener("pageshow", (event) => {
      if (event.persisted) {
        window.location.reload();
      }
    });
  </script>